<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}} <button>devoured</button>
    </li>
    {{/unless}}
    {{/each}}
</ul>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}} 
    </li>
    {{/if}}
    {{/each}}
</ul>