<h1>Welcome to Burger Builder!</h1>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            {{!-- add a burger --}}
            <h2>Create Your New Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="new">Burger Name:</label>
                    <input type="text" id="new" name="name">
                </div>

                <button type="submit">Add Burger</button>
            </form>

        </div>
        <div class="col-sm-4">
            <h2 class="bun">Order Up!</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    <div class="burger-patty">
                        {{burger_name}} <button class="devour-burger">Eat da Burger!</button>
                    </div>
                </li>

                {{/unless}}
                {{/each}}
            </ul>
            <h2 class="bun">Ready to eat!</h2>
            <br>
            <img src="../public/assets/images/3-2-burger-free-png-image.png" alt="Burger" width="1000" height="1000">


        </div>
        <div class="col-sm-4">
            <h2 class="bun">Devoured</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    <div class="burger-patty">
                        {{burger_name}}
                    </div>
                </li>
                {{/if}}
                {{/each}}
            </ul>
             <h2 class="bun">Yum Yum!</h2>


        </div>
    </div>
</div>